.App {
  background-color: #060f1c;
}
.blueBg {
  background-color: #06a6ff;
}
.yellowBg {
  background-color: #fcf300;
  color: #060f1c;
}
html::-webkit-scrollbar {
  display: none !important;
}

.scroll::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(53, 53, 53, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #06a6ff;
  border-radius: 10px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Add File";
  background: rgba(0, 0, 0, 0);
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 12pt;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
